#gallery {
    width: 100%;
}

#gallery div {
 font-size: 0px;   
}

#gallery figure {
    font-size: 14px;
}

figure {
    width: 33.33333%;
}

@media (min-width:769px) and (max-width:992px) {
    figure {
        width: 50%;
    }
}

@media (max-width:768px) {
    figure {
        width: 100%;
    }
}