body {
    padding-top: 70px;
}

/*
.rotate img {
    transform: rotate(35deg);
    transform-origin: 0% 0%;
    
} */

/*
.translate img {
    transform: translate(100px, 250px;);
}

*/

.scale img {
    transform: scale(1.4);
}

/*----------- ANIMACJA -----------*/


@keyframes resize {
    0% {
        height: 300px;
    }
    
    50% {
        height: 50px;
    }
    
    100% {
        height: 300px;
    }
}

.animation img {
    animation-name: resize;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


