body {
  font-family: "Open Sans" sans-serif; }

section#main {
  background-image: url(../img/background.png);
  height: 100vh;
  padding: 15px; }

i.fa-phone {
  transform: rotate(90deg); }

section#footer {
  height: 300px;
  background-color: #292929; }
