/* 
=========================
        header 
=========================
*/

header.header {
    background-image: url("../style/img/drawing-2284505_1280.jpg");
    background-position: center;
    overflow: hidden;
    height: 100vh;
}

header.header>h1 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 50vh;
    color: #fff;
}