/* 
=========================
        general
=========================
*/

*{
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Lato', sans-serif;
}

span {
    color: rgb(15, 173, 255);
}

.section-header {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
}

/* 
=========================
        navigation
=========================
*/

nav.navbar {
    background-color: rgba(5, 173, 255, .7);
    width: 100%;
    position: absolute;
    top: 0;
    text-align: right;
}

nav>ul>li {
    display: inline-block;
    padding: 15px 20px;
}

nav>ul>li>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

a:hover {
    color: rgb(0, 0, 0);
}

.section-header {
    margin: 20px;
    padding: 5px;
    text-align: center;
}

/* 
=========================
        header 
=========================
*/

header.header {
    background-image: url("../style/img/drawing-2284505_1280.jpg");
    background-position: center;
    overflow: hidden;
    height: 100vh;
}

header.header>h1 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 50vh;
    color: #fff;
}

/* 
==========================
        team
==========================
*/

#team {
    background-color: rgb(253, 251, 251);
}

.team-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.person {
    max-width: 400px;
    background-color: #fff;
}

.person>p {
    font-size: 20px;
}

.person>p::first-line {
    color: rgb(15, 173, 255);
    text-align: left;
}

figure>img {
    max-height: 250px;
    max-width: 250px;
    border: 1px #fff solid;
    border-radius: 50px;
}
