/* 
==========================
        team
==========================
*/

#team {
    background-color: rgb(253, 251, 251);
}

.team-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.person {
    max-width: 400px;
    background-color: #fff;
}

.person>p {
    font-size: 20px;
}

.person>p::first-line {
    color: rgb(15, 173, 255);
    text-align: left;
}

figure>img {
    max-height: 250px;
    max-width: 250px;
    border: 1px #fff solid;
    border-radius: 50px;
}
