header.media {
    background-attachment: scroll;
}

@media (min-width:1170px) {
    header.media {
        background-image: url(zadanie-domowe-rwd-materialy/obrazy/man-1.jpg);
        max-height: 100%;
        width: 100%;        
        background-repeat: no-repeat;
    }

    h2 {
        text-align: left;
        color: #fff
    }
}

@media (min-width:993px) and (max-width:1169px) {
    header.media {
        background-image: url(zadanie-domowe-rwd-materialy/obrazy/man-2.jpg);
        width: 100%;
        max-height: 70%;
    }

    h2 {
        text-align: right;
        color: #fff
    }
}

@media (max-width:992px) {
    header.media {
        background-image: url(zadanie-domowe-rwd-materialy/obrazy/man-1.jpg);
    }
}