* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

<<<<<<< HEAD
=======
header #header {
    height: 100vh;
    background-size: contain;
    position: relative;
}

>>>>>>> 077133ff6af85e27fd083b9d0197a253c767a355
h2 {
    font-size: 20px;
}

span {
    font-size: 25px;
}
