/* general */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    margin: 0;
    font-weight: 300;
}

section {
    padding: 0 100px 100px;
    width: 100%;
    background-color: #f9fcfe;
}

section h2 {
    text-align: center;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: 300;
    font-size: 30px;
}

section h2 span {
    color: #1ac056;
    font-weight: 400;
}

/* menu */

#main-nav {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 2;
}

#main-nav ul {
    margin: 0;
    float: right;

}

#main-nav ul li {
    display: inline-block;
    padding: 40px;
}

#main-nav ul li a {
    color: #1ac056;
    text-decoration: none;
}

/* header */

#main-header {
    background-image: url(../style/img/header-background.jpg);
    background-size: cover;
    color: #fff;
}

#main-header .header-content {
    padding: 40vh;
    text-align: center;
}

#main-header .header-content h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 50px;
}

#main-header .header-content h1 span {
    color: #1ac056;
    font-weight: 400;
}

#main-header .header-content h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 30px;
}

/* o mnie */

#about {
    overflow: hidden;
}

#about img {
    max-height: 350px;
    max-width: 100%;
    text-align: center;
    border: 14px #fff solid;
    border-radius: 15px;
}

#about figure {
    float: left;
    width: 50%;
    margin: 0;
    text-align: center;
}

#about div {
    float: left;
    width: 50%;
    text-align: left;
    padding: 15px;
}

/* umiejętności */

#icons {
    text-align: center;
}

figure {
    display: inline-block;
    padding: 10px;
}

/* portfolio */

.portfolio-items {
    font-size: 0;
    text-align: center;    
}


#portfolio .portfolio-item {
    height: 350px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    width: 33%;
    position: relative;
    font-size: initial;
}

#portfolio .portfolio-items #port1 {
    background-image: url(../style/img/portfolio1.jpg);
    
}

#portfolio .portfolio-items #port2 {
    background-image: url(../style/img/portfolio2.jpg);
    
}

#portfolio .portfolio-items #port3 {
    background-image: url(../style/img/portfolio4.jpg);
    
}

.portfolio-item-mask {
    opacity: 0;
    background-color: rgba(42,61,79,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

#portfolio .portfolio-item-mask:hover{
    opacity: 1;
}

#portfolio .mask-content {
    border: 1px solid #fff;
    margin: 10px;
    position: relative;
    height: 330px;    
}

#portfolio .mask-content-inner {
    color: #fff;
    right: 0;
    left: 0;
    padding: 5px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%)
}

.mask-content-inner h3 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.mask-content-inner h4 {
    margin-top: 15px;
    margin-bottom: 10px;    
}

#portfolio .mask-content-inner .fa-link {
    font-size: 20px;
}

#portfolio .mask-content-inner .fa-link:hover{
    color: #1ac056;
}