$color_1: #777;
$color_2: #fff;
$color_3: rgb(0, 0, 255);
$font_family_1: 'Roboto',
sans-serif;
$font_family_2: 'Lato',
sans-serif;
$font_family_3: 'Open Sans',
sans-serif;
$background_color_1: rgba(0, 0, 255, 0.8);
$background_color_2: rgb(20, 0, 255);
$background_color_3: rgb(212, 255, 239);
$background_color_4: #f7f7f7;
$background_color_5: #fff;