body {
    margin: 0;
}

div.animacja-odliczanie {
    position: relative;
    color: #fff;
    background-color: #fff;
    vertical-align: middle;
    font-size: 50px;
    display: flex;
    align-content: center;
}

div.odliczanie-liczba {
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 50px;
}

#dziesiec, #dziewiec, #osiem, #siedem, #szesc, #piec, #cztery, #trzy, #dwa, #jeden, #tekst {
    text-align: center;
    visibility: hidden;
    vertical-align: middle;
}

#dziesiec, #dziewiec, #osiem, #siedem, #szesc, #piec, #cztery, #trzy, #dwa, #jeden, {
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
}

#dziesiec {
    background-color: #33d6ff;
}

#dziewiec {
    animation-delay: 1s;
    background-color: #88ff4d;
}

#osiem {
    animation-delay: 2s;
    background-color: #ffd11a;
}

#siedem {
    animation-delay: 3s;
    background-color: #b32d00;
}

#szesc {
    animation-delay: 4s;
    background-color: #1a53ff;
}

#piec {
    animation-delay: 5s;
    background-color: #e6e600;
}

#cztery {
    animation-delay: 6s;
    background-color: #ff0000;
}

#trzy {
    animation-delay: 7s;
    background-color: #b366ff;
}

#dwa {
    animation-delay: 8s;
    background-color: #1aff1a;
}

#jeden {
    animation-delay: 9s;
    background-color: #0088cc;
}

#tekst {
    animation: 2s fadeInOut;
    animation-fill-mode: forwards;
    animation-delay: 10s;
    background-color: #000;
}


@keyframes fadeIn {
    0%,
    100% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
    }
}

@keyframes fadeInOut {
    0%,
    100% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
        color: #ff80b3;
    }
}